# human-readable name of the chain
CHAIN="juno"
# human-readable name of the deployment
DEPLOYMENT="debugging"
# "local" | "testnet" | "mainnet"
NETWORK="local"

# info, debug, trace
RUST_LOG=info

# where the contract wasms are located
WASM_DIR="./target/wasm32-unknown-unknown/release"
# where to store the output state data
DAEMON_STATE_PATH="./daemon_state.json"

# Mnemonic of the account that will be used to deploy the contracts (admin)
LOCAL_MNEMONIC=""
TEST_MNEMONIC=""
MAIN_MNEMONIC=""

# Abstract version control address for app deployment
VERSION_CONTROL_ADDRESS=junoxxx
